/.htaccess
/.htaccess.admintools
/administrator/cache/*
/administrator/logs/*
/cache/*
/tmp/*
/configuration.php
/LICENSE.txt
/README.txt
/web.config.txt
.DS_Store
administrator/components/com_splms/access.xml
images/demo/course-cover-34140.jpg
images/demo/course-cover-7171387.jpg
images/demo/course-cover-8474478.jpg
images/demo/course-cover-15555796.jpg
images/demo/course-cover-33937115.jpg
images/demo/thumbs/course-cover-7171387_840x490.jpg
images/demo/thumbs/course-cover-8474478_400x300.jpg
images/demo/thumbs/course-cover-7171387_400x300.jpg
images/demo/thumbs/course-cover-8474478_840x490.jpg
images/demo/thumbs/course-cover-15555796_400x300.jpg
images/demo/thumbs/course-cover-15555796_840x490.jpg
images/demo/thumbs/course-cover-33937115_400x300.jpg
images/demo/thumbs/course-cover-33937115_840x490.jpg
