#guideway-ai-toolbar {
    margin-bottom: 15px;
    padding: 20px 0;
    border-radius: 6px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

#guideway-ai-toolbar p {
    margin-right: 25px;
}

#guideway-ai-toolbar .btn-group {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 8px;
}


#gw-ai-loading {
    display: none;
    margin-left: 10px;
    color: #666;
}

/* Responsivo */
@media (max-width: 600px) {
    #guideway-ai-toolbar .btn-group .btn {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    #guideway-ai-toolbar {
        flex-direction: column;
    }
}
